{% extends 'main/layout.html' %}

{% block content %}
<div class="user-auth-block">
    {% if validlink %}
        <div class="change-password-form">
        <div class="change-password-p-info">
            <h3>Please enter (and confirm) your new password.</h3>
        </div>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr id="tr-1">
                        <td >{{ form.new_password1.errors }}
                            <label for="id_new_password1">New password:</label></td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr id="tr-2">
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirm password:</label></td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="btn btn-success" type="submit" value="Change my password" /></td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</div>
{% endblock %}